In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
data = pd.read_csv("/content/drive/MyDrive/544_project/data/raw_data/3w5.csv", index_col=0)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (27) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
onew5 = pd.read_csv("/content/drive/MyDrive/544_project/data/raw_data/1w5.csv",index_col=0)

In [ ]:
data

      creativeWork_datePublished  ... extra_title_es
0                     2008-06-17  ...            NaN
1                     2016-10-03  ...            NaN
2                     2016-03-31  ...            NaN
3                     2015-12-09  ...            NaN
4                     2016-01-26  ...            NaN
...                          ...  ...            ...
35768                        0.0  ...            NaN
35769                        0.0  ...            NaN
35770                        0.0  ...            NaN
35771                        0.0  ...            NaN
35772                        0.0  ...            NaN

[35773 rows x 27 columns]

In [ ]:
newdata = data[['rating_alternateName_normalized', 'claimReview_claimReviewed']]
newdata

      rating_alternateName_normalized                          claimReview_claimReviewed
0                             MIXTURE  Account of a 10-year-old boy's death explains ...
1                               OTHER  Hillary Clinton proposed assassinating Julian ...
2                               FALSE  Rep. Debbie Riddle proposed a breastfeeding ba...
3                               FALSE  A lawyer for Tashfeen Malik asked the media no...
4                               FALSE  Residents of Flint, Michigan have been threate...
...                               ...                                                ...
35768                             0.0                                                0.0
35769                           OTHER  Hillary Clinton quält Mädchen? – Auf der Suche...
35770                           OTHER  Gartenschlauch: Irgendwie in jeder Facebook-Gr...
35771                           OTHER  EU-Kommission plant Maßnahmenpaket gegen Kinde...
35772                           OTHER               Facebook-KI simuliert Betrugsmaschen

[35773 rows x 2 columns]

In [ ]:
MIXTURE = newdata[newdata['rating_alternateName_normalized']=='MIXTURE']

In [ ]:
OTHER = newdata[newdata['rating_alternateName_normalized']=='OTHER']

In [ ]:
FALSE = newdata[newdata['rating_alternateName_normalized']=='FALSE']

In [ ]:
TRUE = newdata[newdata['rating_alternateName_normalized']=='TRUE']
TRUE

      rating_alternateName_normalized                          claimReview_claimReviewed
16                               TRUE  An audio clip captured distressed immigrant ch...
27                               TRUE  Ron Wayne was a third Apple co-founder, who in...
57                               TRUE  Article details efforts of John Glenn's wife t...
60                               TRUE  Photographs show a 2011 NFL Veterans Day tribu...
63                               TRUE  Article contrasts disparate sentences given to...
...                               ...                                                ...
35731                            TRUE  Dominic LeBlanc: "The Conservatives' decision ...
35732                            TRUE  Stephen Harper: “The past ten years ... [was] ...
35738                            TRUE  Gary Goodyear: "Since the depths of the Great ...
35741                            TRUE  Chris Alexander: "We take one in ten resettled...
35745                            TRUE  Nathan Cullen: “400,000 manufacturing jobs hav...

[3729 rows x 2 columns]

In [ ]:
out1 = pd.concat([MIXTURE,OTHER,FALSE,TRUE])
out1.columns = ['label','text']
out1 = out1.reset_index()
out1.drop(columns='index')

         label                                               text
0      MIXTURE  Account of a 10-year-old boy's death explains ...
1      MIXTURE  A woman was attacked in Hollywood because she ...
2      MIXTURE  Chobani CEO Hamdi Ulukaya vowed to "drown the ...
3      MIXTURE  Pro-Donald Trump activists were accosted by a ...
4      MIXTURE  The Obama administration has proposed revising...
...        ...                                                ...
35180     TRUE  Dominic LeBlanc: "The Conservatives' decision ...
35181     TRUE  Stephen Harper: “The past ten years ... [was] ...
35182     TRUE  Gary Goodyear: "Since the depths of the Great ...
35183     TRUE  Chris Alexander: "We take one in ten resettled...
35184     TRUE  Nathan Cullen: “400,000 manufacturing jobs hav...

[35185 rows x 2 columns]

In [ ]:
onew5 = onew5.reset_index()
onew5.drop(columns='index')

                                                    text  label
0                                                  FALSE  False
1      EDITOR S NOTE: We recognize the following eloq...  False
2      President Obama is widely expected to be an ex...  False
3      Wow! What s more shocking the fact that a memb...  False
4      Noah Malone was celebrating his fifth birthday...  False
...                                                  ...    ...
14995        WASHINGTON (Reuters) - Republicans in the U   True
14996                           WASHINGTON (Reuters) - U   True
14997  SEOUL (Reuters) - South Korea s President Moon...   True
14998  (Reuters) - A Tennessee state lawmaker was acc...   True
14999  VIENNA (Reuters) - Austrian conservative leade...   True

[15000 rows x 2 columns]

In [ ]:
output = pd.concat([out1,onew5])
output

       index    label                                               text
0          0  MIXTURE  Account of a 10-year-old boy's death explains ...
1         10  MIXTURE  A woman was attacked in Hollywood because she ...
2         20  MIXTURE  Chobani CEO Hamdi Ulukaya vowed to "drown the ...
3         31  MIXTURE  Pro-Donald Trump activists were accosted by a ...
4         32  MIXTURE  The Obama administration has proposed revising...
...      ...      ...                                                ...
14995  14995     True        WASHINGTON (Reuters) - Republicans in the U
14996  14996     True                           WASHINGTON (Reuters) - U
14997  14997     True  SEOUL (Reuters) - South Korea s President Moon...
14998  14998     True  (Reuters) - A Tennessee state lawmaker was acc...
14999  14999     True  VIENNA (Reuters) - Austrian conservative leade...

[50185 rows x 3 columns]

In [ ]:
output = output.sample(frac=1).reset_index(drop=True)
output.drop(columns="index")

       label                                               text
0      Other  Langevin says stimulus program created “thousa...
1      False  Eric Trump defended his stepmother's speech at...
2       True  PALO ALTO, California (Reuters) - Democrat Hil...
3       True  Why I Do Not Like The Obamas, an Opinion by My...
4      Other  É verdade que a estrela de Mulher-Maravilha, G...
...      ...                                                ...
50180   True                           WASHINGTON (Reuters) - U
50181   True                       WASHINGTON (Reuters) - The U
50182  False  The Republican Party is truly screwed if Fox N...
50183   True  GENEVA (Reuters) - South Sudan s hellish war w...
50184  False  Clickbait headline wrongly blames Clintons for...

[50185 rows x 2 columns]

In [ ]:
output.loc[output['label'] == "MIXTURE", 'label'] = 'Mixture'
output.loc[output['label'] == "OTHER", 'label'] = 'Other'
output.loc[output['label'] == "TRUE", 'label'] = 'True'
output.loc[output['label'] == "FALSE", 'label'] = 'False'

In [ ]:
output.to_csv("/content/drive/MyDrive/544_project/data/raw_data/finaldata.csv")